* {
  font-family: "Kode Mono", monospace, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

input {
  margin-bottom: 5px;
  padding-right: 15px;
  width: 340px;
  height: 4rem;
  font-size: 3rem;
  text-align: right;
  border-radius: 5px;
  border: 3px outset #36494e;
  cursor: default;
  outline: none;
}
input::placeholder {
  color: #000000;
}

button {
  width: 70px;
  height: 70px;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  border: 3px outset #36494e;
  transition: background 0.1s ease;
  cursor: pointer;
}

.numbers button {
  background: #a9cef4;
}

.operators button {
  background: #7ea0b7;
}

button:hover {
  background: #597081;
}

button:active {
  background: #36494e;
}

.container {
  display: flex;
  flex-direction: row;
  width: 370px;
}

.numbers {
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

.operators {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2px;
  flex-wrap: wrap;
}
#zero {
  width: calc(100% - 76px);
}
#clear {
  width: calc(100% - 8px);
}
#equal {
  width: calc(100% - 8px);
}
